{% extends "base.html" %}


{% block extrahead %}
{% endblock %}


{% block content %}


<div class="leftcol">

      <h4>What is soccerstats.us?</h4>
      <p>Soccerstats.us is a free open source database, written in python, that can be exported into any format.</p>

        <ul>
            <li><a href="http://github.com/soccerstatsus">repos</a> - see and edit open source data</li>
            <li><a href="/forum">forum</a> - discuss open source soccer data</li>
            <!--<li><a href="/api">api</a></li>-->
        </ul>



<h3>United States</h3>
<h4>Division 1</h4>


</div>


<div class="rightcol">

<h3>International</h3>

<h3>World</h3>


</div>



{% endblock %}
